header {
  text-align: center;
  font-family: "Vollkorn", serif;
}

h1 {
  font-weight: 500;
  margin: 1em 0em 0.5em;
}

h2 {
  font-weight: 500;
  font-style: italic;
  margin: 0em;
}

main {
  display: flex;
  justify-content: center;
}

img {
  height: 18em;
}
