html {
  font-size: 100%;
  background-color: #F8F9F9;
}

body {
  margin: 0;
  font-family: "Vollkorn", serif;
}

.header {
  text-align: center;
}

h1 {
  font-weight: 500;
  margin: 2rem 0rem 0rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #757575;
  margin: 0rem;
}

nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.chapter-title {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

nav a:hover {
  color: #7a7b7b;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 18rem;
  width: fit-content;
}
