html {
  font-size: 100%;
  background-color: #F8F9F9;
  --dark-gray: #757575;
  --hover-gray: #7a7b7b;
}

body {
  margin: 0;
  font-family: "Vollkorn", serif;
}

.header {
  text-align: center;
}

h1 {
  font-weight: 500;
  margin: 2rem 0rem 0rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: var(--dark-gray);
  margin: 0rem;
}

nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;

  @media (min-width: 850px) {
    display: none;
  }
}

.chapter-title {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

nav a:hover {
  color: var(--hover-gray);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 850px) {
    flex-direction: row;
    align-items: baseline;
  }
}

img.singer-backs {
  height: 18rem;
  width: fit-content;
}

section {
  margin: 0rem 1.5rem;

  @media (min-width: 850px) {
    width: 33.3%;
  }
}

div.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.social-links img {
  height: 3rem;
}

section#contact {
  margin-bottom: 1.5rem;
}

a.email {
  text-decoration: none;
  color: #6161CB;
}

a.email:hover {
  color: #8686C9;
}

footer {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  font-size: .75rem;
  padding: 0.3rem;
}
